nav {
  background-color: black;
  color: #b0b0b0;
  font-weight: 500;

  a:hover,
  &:focus {
    color: white;
  }

  ul {
    list-style: none;
    padding-right: 5px;
  }

  .responsive-nav {
    padding: 5px;
    display: none;

    .list-responsive {
      overflow: hidden;
    }
  }
  @include for-size(phone-only) {
    .desktop-nav {
      display: none;
    }

    .responsive-nav {
      display: inherit;
    }
  }
}
