.section-sublist {
  padding-top: pxtoem($padding-80);
  padding-bottom: pxtoem($padding-60);

  @include for-any-size(1100px) {
    .flex {
      gap: 0px;
    }

    .text-side {
      align-self: center;
    }
  }
}

.section-sublist > div {
  gap: pxtoem(100);
}

.subsection-title {
  margin-bottom: 30px;
}

.underline {
  background-color: $primary-color;
  height: 3px;
  width: 70px;
}

.text-side {
  .underline {
    margin-bottom: pxtoem($heading-margin);
  }

  p {
    max-width: 60ch;
  }

  & > p {
    margin-bottom: pxtoem(48);
  }
}

.title {
  display: flex;
  margin-bottom: pxtoem(40);
  h5 {
    margin-bottom: pxtoem(14);
  }

  img {
    height: 40px;
    width: 40px;
    margin-right: pxtoem(32);
  }
}
