.section-pricing {
  .mid {
    position: relative;
    bottom: 20px;
  }
  background-color: #e4e4e4;
  h2 {
    margin-bottom: pxtoem(28);
  }

  p {
    text-align: center;
  }
  .card-templete {
    gap: 37px;
    margin-top: pxtoem(81);
    margin-bottom: pxtoem(90);
  }

  .border {
    background-color: $primary-color;
    min-height: 5px;
    color: white;
    @include toRem(font-size, 14);
    font-weight: bold;
  }

  .mid-card {
    padding-top: pxtoem($padding-16);
    padding-bottom: pxtoem($padding-16);
  }

  .pricing-cards {
    text-align: center;
    width: 343px;

    .top-half {
      h5,
      p {
        background-color: $pricing-card-upper-background;
      }

      h5:first-child {
        padding-top: pxtoem($padding-16);
        padding-bottom: pxtoem($padding-16);
      }
      p {
        color: white;
        padding-top: pxtoem($padding-16);
        padding-bottom: pxtoem($padding-16);
      }

      h5 {
        color: white;
        border-bottom: 1px solid white;
        font-family: $hero-font;
      }

      .header {
        @include toRem(font-size, 20);
      }
      .price {
        @include toRem(font-size, 90);
        font-weight: bold;
        span {
          @include toRem(font-size, 40);
        }
      }
    }

    .bottom-half {
      background-color: white;
      p {
        padding-top: pxtoem(15);
        padding-bottom: pxtoem(15);
        border-bottom: 1px solid #e9dfdf;
      }
    }
  }

  @include for-any-size(345px) {
    .pricing-cards {
      width: 90%;
    }

    h2 {
      font-size: 150%;
    }
  }
}
