.section-why-awesome {
  padding-top: pxtoem($padding-107);

  h2 {
    margin-bottom: pxtoem(15);
  }

  @include for-any-size(423px) {
    h2 {
      @include toRem(font-size, 30);
    }
  }

  @include for-any-size(345px) {
    h2 {
      @include toRem(font-size, 20);
      margin-bottom: pxtoem(25);
    }
  }

  p {
    text-align: center;
    margin-bottom: pxtoem(78);
  }

  .flex {
    gap: pxtoem(30);
  }

  .awesome-card {
    text-align: center;

    p {
      max-width: 50ch;
    }

    @include for-any-size(766px) {
      p {
        margin: 0 auto;
      }
    }
  }

  h5 {
    margin-top: pxtoem(30);
    margin-bottom: pxtoem(30);
    @include toRem(font-size, 20);
    font-weight: 800;
  }
}
