/*-------------------------- */
/*Variables*/
// $demo-var: #111111;
/*-------------------------- */

$primary-color: #ff8b38;
$primary-color-hover: #af6129;

$secondary-color: #333333;

$hero-font: "Raleway", sans-serif;

$hero-par-font-size: 16;
$primary-font-par-size: 14;

$standard-line-spacing: 21px;
$heading-margin: 30;

$primary-font: "Open Sans", sans-serif;
$section-header-font: "Raleway-Regular", sans-serif;

$pricing-card-upper-background: #333333;

/*-------------------------- */
/*Mixins*/
/*-------------------------- */
